# droxey-ender3

[stepper_x]
step_pin: PD7
dir_pin: !PC5
enable_pin: !PD6
step_distance: .0125
endstop_pin: ^PC2
position_endstop: 0
position_max: 244
position_min: 0
homing_speed: 50

[stepper_y]
step_pin: PC6
dir_pin: !PC7
enable_pin: !PD6
step_distance: .0125
endstop_pin: ^PC3
position_endstop: 0
position_max: 225
position_min: 0
homing_speed: 80

[stepper_z]
step_pin: PB3
dir_pin: PB2
enable_pin: !PA5
step_distance: .0025
endstop_pin: probe:z_virtual_endstop
position_min: .8
position_max: 250
homing_speed: 50

[extruder]
step_pin: PB1
dir_pin: !PB0
enable_pin: !PD6
step_distance: 0.010288
nozzle_diameter: 0.400
filament_diameter: 1.750
pressure_advance: 0.80
pressure_advance_lookahead_time: 0.010
heater_pin: PD5
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA7
#control: pid
#pid_kp: 3.318
#pid_ki: 1.480
#pid_kd: 91.813
min_temp: 0
max_temp: 250

[heater_bed]
heater_pin: PD4
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA6
control: pid
pid_kp: 71.752
pid_ki: 0.903
pid_kd: 1426.062
min_temp: 0
max_temp: 130

[fan]
pin: PB4

[mcu]
serial: /dev/ttyUSB0

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100

[display]
lcd_type: st7920
cs_pin: PA3
sclk_pin: PA1
sid_pin: PC1
encoder_pins: ^PD2, ^PD3
click_pin: ^!PC0
menu_timeout: 60

# Define the BLTouch servo
[servo bltouch]
pin: PA4
maximum_servo_angle: 180
minimum_pulse_width: 0.0006
maximum_pulse_width: 0.0024

# Define a probe using the BLTouch
[probe]
pin: ^PC4
x_offset: 0
y_offset: 0
z_offset: .8

[homing_override]
set_position_z: 10
axes: z
gcode:
    # before we do any moving we
     # make sure the pin is inside by
     # reseting the bltouch
     SET_SERVO SERVO=bltouch ANGLE=160
     SET_SERVO SERVO=bltouch ANGLE=90
     G90
     G1 Z10 F600
     G28 X0 Y0
     # these offsets are for a bltouch mounted
     # left from the nozzle and to measure
     # near the denter of the bed.
     G1 X160 Y120 F7200
     G28 Z0
     # after probing we reset again
     SET_SERVO SERVO=bltouch ANGLE=160
     SET_SERVO SERVO=bltouch ANGLE=90
     # move back to x0 x0!
     G1 X0 Y0 F7200

[gcode_macro G29]
gcode:
    SET_SERVO SERVO=bltouch ANGLE=10
    SET_SERVO SERVO=bltouch ANGLE=60
    G28
    G1 Z10 F600
    SET_SERVO SERVO=bltouch ANGLE=120
    G4 P200
    G1 Z10 F600
    BED_MESH_CALIBRATE
    SET_SERVO SERVO=bltouch ANGLE=10
    G4 P100

[bed_mesh]
speed: 100
horizontal_move_z: 10
samples: 2
sample_retract_dist: 2.0
min_point: 50,20
max_point: 242,225
probe_count: 3,3
algorithm: lagrange

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 22.121
#*# pid_ki = 1.161
#*# pid_kd = 105.352
#*#
#*# [bed_mesh default]
#*# points =
#*# 	  0.030000, 0.027500, 0.028750
#*# 	  0.026250, 0.025000, 0.030000
#*# 	  0.006250, 0.006250, 0.006250
#*# x_count = 3
#*# y_count = 3
#*# min_x = 50.0
#*# max_x = 242.0
#*# min_y = 20.0
#*# max_y = 225.0
#*# x_offset = 0.0
#*# y_offset = 0.0
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
